@{
    ViewBag.Title = "My Movies";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <div id="options">
        Movies 
        <button class="day" data-bind="click: function(){selectDay(0);}, css: { selectedOption: optionDay() === 0}">today</button>
        <button class="day" data-bind="click: function(){selectDay(1);}, css: { selectedOption: optionDay() === 1}">tomorrow</button>
        with rating higher than
        @{ var ratings = new[] {0, 5, 6, 7, 8, 9}; }
        @foreach (int rating in ratings)
        {
            <button class="rating" data-bind="click: function () { selectRating(@rating); }, css: { selectedOption: optionRating() === @rating}">@rating</button>
        }
    </div>
    <section id="movies" data-bind="foreach: movies, visible: movies().length > 0">
        <article class="movie">
            <p class="title">
                <a title="View movie at cinema's website"
                   data-bind="text: title, attr: { href: movieUrl }"></a>
            </p>
            <p class="show">
                <a title="View show at cinema's website"
                   data-bind="text: showTime, attr: { href: showUrl }, visible: showTime"></a>
            </p>
            <p class="cinema">
                <a title="Go to cinema's website"
                   data-bind="text: showLocation, attr: { href: cinemaUrl }, visible: showLocation"></a>
            </p>
            <a title="View at IMDB"
               data-bind="text: imdbRating, attr: { href: imdbUrl }, visible: imdbRating"></a>
        </article>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/movies")
}