@{
    ViewBag.Title = "My Movies";
}

<header>
    <h1>@ViewBag.Title</h1>
</header>

<div id="main-content">
    <div id="options">
        Movies with rating higher than
        @for (int rating = 5; rating <= 9; rating++)
        {
            <button class="rating" data-bind="click: function () { chooseRating(@rating); }">@rating</button>
        }
    </div>
    <section id="movies" data-bind="foreach: movies, visible: movies().length > 0">
        <article class="movie">
            <p data-bind="text: title"></p>
            <p class="show">
                <a title="View at cinema's website"
                   data-bind="text: showTime, attr: { href: showUrl }, visible: showTime"></a>
            </p>
            <p class="cinema">
                <a title="Go to cinema's website"
                   data-bind="text: showLocation, attr: { href: cinemaUrl }, visible: showLocation"></a>
            </p>
            <a title="View at IMDB"
               data-bind="text: imdbRating, attr: { href: imdbUrl }, visible: imdbRating"></a>
        </article>
    </section>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/movies")
}